<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <i class="fa fa-github"></i>
            <a href="http://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <i class="fa fa-twitter"></i>
            <a href="http://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
          </li>
          {% endif %}
          <li>
            <i class="fa fa-home"></i>
            <a href="{{ site.homepage }}">{{ site.homepage }}</a>
          </li>
          <li>
            <i class="fa fa-rss "></i>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
