blockquote {
    font-style: normal;
}

.caption {
    color: gray;
    font-size: small;
    margin-bottom: 40px;
}

.footnotes {
    background-color: whitesmoke;
    font-size: small;
    margin-top: 40px;
    padding: 30px;
}
