.site-header {
    .site-title:hover {
        text-decoration: none;
    }

    .site-title span {
        font-size: 20px;
    }
}

.post-content {
    blockquote {
        font-style: normal;
    }

    div.center {
        text-align: center;
    }

    h2, h3, h4, h5 {
        color: #737373;
    }

    h2 {
        border-bottom: 1px solid #e8e8e8;
        font-size: 26px;
        margin-top: 40px;
    }

    h3 {
        font-size: 18px;
    }

    img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .caption {
        color: gray;
        font-size: small;
        margin-top: -20px;
        margin-bottom: 40px;
    }

    .footnotes {
        background-color: whitesmoke;
        font-size: small;
        margin-top: 40px;
        padding: 30px;
        ol {
            margin-bottom: 0;
            p {
                margin-bottom: 5px;
            }
        }
    }
}
